@charset "UTF-8";

.pointer {
	cursor: pointer;
}

.navbar {
	background-color: #082032;
}

.logo img {
	height: 40px;
	border: 2px solid #fff1f1;
	border-radius: 100%;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo img:hover {
	transform: scale(1.1);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-bar {
	display: flex;
	flex-grow: 1;
	max-width: 400px;
	margin: 0 20px;
	position: relative;
	background-color: transparent;
	border: 1px solid #334756;
}

.search-bar input[type="text"] {
	border: none;
	outline: none;
	font-weight: 500;
	color: #F7EFE5;
	background-color: transparent;
}

.search-bar .icon {
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
	color: #F7EFE5;
}

.search-bar .close {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	color: #F7EFE5;
}

.pointer {
	cursor: pointer;
}

.nav-link {
	position: relative;
	display: inline-block;
	text-decoration: none;
	font-weight: 500; /* Reduced font weight */
	padding-bottom: 5px;
	transition: color 0.3s ease, font-weight 0.3s ease;
	/* Transition for smoother change */
}

.nav-link::after {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background-color: #FF4C29; /* Changed underline color to white */
	bottom: 0;
	left: 0;
	transition: width 0.3s ease;
}

.nav-link:hover {
	color: white;
}

.nav-link.nav-link-active::after, .nav-link:hover::after {
	width: 100%; /* Underline shows on hover and active */
}

.nav-link.nav-link-active {
	color: white; /* Active link color */
}
